body {
	height: 100%;
	background: linear-gradient(to right, white, black);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1cm;
	color: white;
	transform: translate(0%, 80%);
}

h1 {
	font-family: "Oswald", sans serif;
	font-size: 60px;
}

h2 {
	font-family: "Oswald", sans serif;
}

input {
	border-width: 1px;
	border-radius: 10px;
	border-color: white;
}